$lumi-blue-000: #ffffff;
$lumi-blue-100: #ffffff;
$lumi-blue-200: #2c6789;
$lumi-blue-300: #2c6789;

$lumi-purple-000: #ffffff;
$lumi-purple-100: #ffffff;
$lumi-purple-200: #7477b8;
$lumi-purple-300: #7477b8;

$lumi-magenta-000: #ffffff;
$lumi-magenta-100: #ffffff;
$lumi-magenta-200: #ec008c;
$lumi-magenta-300: #ec008c;

// Make the callout text use your standard body colour
$callout-title-color: $body-text-color;
$callout-text-color:  $body-text-color;